nav {
  background-color: #0c111c;
  display: flex;
  height: auto;
  align-items: center;
  width: 100%;
  padding: 0 48px;
  margin-left: -48px
}

.left-nav {
  flex-grow: 1;
}

.right-nav a {
  color: inherit;
  padding-left: 1.5rem;
}